@{
    ViewData["Title"] = "Home Page";
}

<div class="full items-justify">
    <div id="banner" class="bg-banner" style="height: 512px; width: 100%"></div>

    <section class="pg-width wireFrame">

    </section>

    <section class="pg-width bg-beige wireFrame">

    </section>

    <section class="pg-width wireFrame">

    </section>
</div>
